//vars
$nav-height: 72px;
$cross-height: 30px;

//colors
$text-dark: #242424;
$text-light: #ffffff;
$text-light-trans: #ffffff55;
$text-accent-1: #8cc63f;
$text-accent-2: #7CAE39;
$text-accent-3: #92c9ff;

$blue-1: #303b82;
$blue-2: #0A2139;
$blue-3: #f1ebfa;
$blue-4: #f9f6fd;
$blue-5: #22114f;
$green-1: #27b02b;

$desktop-breakpoint: 1025px;
$tablet-breakpoint: 750px;
$mobile-breakpoint: 400px;

$special-breakpoint: 500px;
$special-breakpoint-2: 600px;

@mixin below-desktop{
    @media only screen and (max-width: #{$desktop-breakpoint}){
        @content;
    }
}

@mixin below-tablet{
    @media only screen and (max-width: #{$tablet-breakpoint}){
        @content;
    }
}

@mixin below-special-point{
    @media only screen and (max-width: #{$special-breakpoint}){
        @content;
    }
}
@mixin below-special-point-2{
    @media only screen and (max-width: #{$special-breakpoint-2}){
        @content;
    }
}