$footer-icon-size: 50px;

footer.dark{
    color: $text-light;
    background-color: $blue-1;
}
footer.light{
    background-color: $blue-3;
}
footer{
    display: flex;
    width: 100%;
    min-height: 400px;
    font-family: montserrat;
    font-size: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
        margin: 25px 0;
    }

    .links{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        margin: 25px 0;

        .link{
            display: flex;
            width: auto;
            height: $footer-icon-size;
            margin: 0 10px;
            justify-content: flex-start;
            align-items: center;
            color: $text-dark;
            background-color: $text-light;
            border-radius: $footer-icon-size;
            overflow: hidden;
            
            .name{
                display: block;
                width: 0;
                margin: 0;
                font-size: 0.8rem;
                transition: all 0.2s;
            }

            .icon{
                display: block;
                width: $footer-icon-size;
                height: $footer-icon-size;
                background-color: $blue-1;
                border-radius: 100%;
            }

            &:hover .name{
                width: 80px;
                margin: 0 20px 0 15px;
            }
        }
    }
}