@import '_common';


//landing section
.landing.first{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;

    @include below-desktop{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
    }

    .graphic{
        display: block;
        position: relative;
        width: 56.25vw;
        height: calc(100vh - 1*#{$nav-height});

        @include below-desktop{
            width: 100%;
        }
    }

    .boxes{
        display: block;
        position: relative;
        top: 0.3*$nav-height;
        right: 0;
        transform: translate(35vw,0);
        width: 35vw;
        height: auto;
        max-width: 500px;
        min-height: 80vh;
        background-color: $blue-2;
        border-radius: 10px 0 0 10px;
        padding: 70px 0;

        transition: transform 0.8s ease;
        opacity: 0;

        @include below-desktop{
            position: relative;
            top: 0;
            transform: translate(0,0);
            width: 100%;
            max-width: 100%;
            min-height: 50vh;
            border-radius: 0px;
            // box-shadow: 0 2px 4px rgba(0,0,0,0.5);
            transform: translate(0,0);
            opacity: 1;
        }

        #particles-js{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .box-front{
            display: flex;
            position: relative;
            top: 0;
            width: 375px;
            height: 7em;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            background-color: $blue-1;
            overflow: hidden;
            border-radius: 8px;

            transition: transform 0.6s 0.3s ease, opacity 0.6s 0.3s ease;
            opacity: 0;

            @include below-desktop{
                width: 80%;
                margin-left: auto;
                transform: translate(0, 0);
                border-radius: 8px 0 0 8px;
                opacity: 1;
            }
            
            //child stylings separately
        }

    }

    .text{
        display: flex;
        position: relative;
        width: 100%;
        padding: 10%;
        color: $text-light;
        font-size: 0.85rem;
        font-family: 'Montserrat';
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        pointer-events: none;

        transition: opacity 0.6s 0.7s ease;
        opacity: 0;

        @include below-desktop{
            position: relative;
            padding: 40px 10%;
            opacity: 1;
        }

        h1{
            font-size: 1.5rem;
        }

        p{
            width: 100%;
        }

    }

    .scroll-icon{
        display: block;
        position: absolute;
        top: calc(100vh - 150px);
        left: 50%;
        transform: translate(-50%, 0);
        box-sizing: content-box;
        width: 20px;
        height: 45px;
        border: 4px solid #495ACF;
        border-radius: 120px;
        opacity: 0;
        
        transition: opacity 0.5s ease;

        .wheel{
            display: block;
            position: relative;
            top: 15%;
            left: 50%;
            transform: translate(-50%, 0);
            width: 8px;
            height: 18px;
            background-color: #495ACF;
            border-radius: 120px;
            animation: scroll-anim 3s infinite;
        }
    }
}

@keyframes scroll-anim{
    0%{
        top: 15%;
        opacity: 0
    }
    20%{
        top: 45%;
        opacity: 1;
    }
    100%{
        top: 45%;
        opacity: 1;
    }
}

//styling box-front children
.box-front{
    color: $text-light;
    font-family: 'Montserrat';
    
    *{
        font-weight: normal;
        margin: 0;
    }

    .alphanode{
        margin: 20px 40px;
        
        h1{
            font-size: 2.25em;
        }

        span{
            color: $text-accent-1;
        }

        sup{
            font-size: 45%;
            margin-left: 3px;
            color: $text-accent-3;
        }

        h3 {
            padding-right: 0.25em;
            font-size: 1.3em;
            text-align: right;
        }
    }
}

//about us section

.about{
    display: flex;
    position: relative;
    width: 100%;
    margin: 40px 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 10% calc(100px + 4vw) 10%;
    background-color: $blue-3;

    @include below-desktop{
        padding: calc(10vmax + 30px) 10% calc(14vmax + 30px) 10%;
        margin-top: 0;
    }

    //adding slants
    // &::before{
    //     content: '';
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     width: 100%;
    //     height: 4vw;
    //     clip-path: polygon(0 0, 100% 0, 100% 100%);
    //     background-color: $text-light;
    // }
    &::after{
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 4vw;
        clip-path: polygon(0 0, 0 4vw, 100% 100%);
        background-color: $text-light;
    }

    h1{
        font-size: 2rem;
        font-family: Montserrat;
        text-align: left;
    }
}

//stats section
.growth{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 10%;
    margin-bottom: 40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    transform: translate(0,20px);
    transition: all 0.3s;

    h1{
        font-size: 2em;
        line-height: 1.4;
        margin-bottom: 0;
        text-align: center;
    }
    h2{
        font-size: 1.1em;
        font-weight: normal;
        font-style: italic;
        margin-top: 30px;
        opacity: 0.7;
    }

    .stats{
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .stat{
            display: flex;
            position: relative;
            height: auto;
            width: 150px;
            margin: 0 40px;
            font-family: montserrat;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include below-desktop{
                margin: 10px 20px;
            }

            span{
                display: flex;
                width: 60px;
                height: 60px;
                font-weight: bold;
                border-radius: 100%;
                border: 3px solid $text-accent-1;
                justify-content: center;
                align-items: center;
            }
        }
    }

    & > p{
        width: 75%;
        padding: 30px 0;
        line-height: 1.8;
        
        @include below-desktop{
            width: 100%;
        }
    }
    
}

// .team-btn{
//     display: block;
//     position: relative;
//     left: 50%;
//     transform: translate(-50%, 0);
//     width: 200px;
//     padding: 20px;
//     margin-bottom: 40px;
//     color: $text-light;
//     background-color: $blue-1;
//     border-radius: 10px;
//     text-align: center;
//     font-style: italic;
//     font-size: 1.1em;
// }