@import './_common';

.navbar.light{
    color: $text-dark;
    background-color: $text-light;

    .cross{
        color: $text-dark;

        &.show{
            color: $text-dark;
        }
    }

    .icons{
        @include below-desktop{
            background-color: $text-light;

            &.show{
                background-color: $text-light;
            }
        }
    }

    .links{

        @include below-desktop{
            background-color: $text-light;

            &.show{
                background-color: $text-light;
                
                .nav-item{
                    color: $text-dark;

                    &:hover{
                        color: $blue-1;
                    }
                }
            }
        }

        .nav-item{
            color: $text-dark;

            &:hover{
                color: $blue-1;
            }
        }
    }
}

.navbar.transparent-light{
    color: $text-light;
    background-color: transparent;

    .cross{
        color: $text-light;

        &.show{
            color: $text-dark;
        }
    }

    .icons{
        @include below-desktop{
            background-color: transparent;

            &.show{
                background-color: $text-light;
            }
        }
    }

    .links{
        @include below-desktop{
            background-color: transparent;

            &.show{
                background-color: $text-light;

                .nav-item{
                    color: $text-dark;

                    &:hover{
                        color: $blue-1;
                    }
                }
            }
        }

        .nav-item{
            color: $text-light;

            &:hover{
                color: $text-light;
            }
        }

    }
}

.navbar{
    display: flex;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -$nav-height);
    width: 100%;
    height: $nav-height;
    justify-content: flex-start;
    align-items: center;
    z-index: 3;

    transition: transform 0.5s ease, all 0.2s;

    @include below-desktop{
        height: auto;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: transparent;
        overflow: hidden;
        font-family: montserrat;
    }
    
    //the close icon
    .cross{
        display: none;
        z-index: 4;

        @include below-desktop{
            display: block;
            position: absolute;
            top: calc(0.5*#{$nav-height} - 0.5*#{$cross-height});
            left: 5%;
            width: $cross-height;
            height: $cross-height;
        }

        .one{
            display: block;
            position: absolute;
            top: 0.2*$cross-height;
            left: 50%;
            transform: translate(-50%, 0);
            width: 20px;
            height: 2px;
            background-color: currentColor;
            transition: all 0.2s;
        }
        &.show > .one{
            transform: rotate(-45deg) translate(-16px, -5px);
        }
        .two{
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 2px;
            background-color: currentColor;
            transition: all 0.2s;
        }
        &.show > .two{
            opacity: 0;
        }
        .three{
            display: block;
            position: absolute;
            bottom: 0.2*$cross-height;
            left: 50%;
            transform: translate(-50%, 0);
            width: 20px;
            height: 2px;
            background-color: currentColor;
            transition: all 0.2s;
        }
        &.show > .three{
            transform: rotate(45deg) translate(-16px, 5px);
        }
    }

    .icons{
        display: flex;
        height: $nav-height;
        width: auto;
        margin-left: 8%;
        justify-content: flex-start;
        align-items: center;

        @include below-desktop{
            width: 100%;
            margin: 0;
            padding: 4px 0 0 0;
            justify-content: center;
        }

        a{
            height: 45%;
        }
        .logo{
            height: 100%;
            width: auto;
            @include below-desktop{
                padding: 0 0 0 6.25%;
            }
        }
    }

    .links{
        margin-left: auto;
        margin-right: 8%;

        @include below-desktop{
            display: flex;
            position: relative;
            width: 100%;
            height: 0;
            margin: 0;
            padding: 0;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            transition: all 0.2s;

            &.show{
                height: 100vh;
                padding: 20px 0;
            }
        }

        .nav-item{
            position: relative;
            margin: 0 20px;
            font-weight: normal;

            @include below-desktop{
                font-size: 1rem;
                margin: 12px 0;
            }

            &::after{
                content: '';
                display: block;
                position: absolute;
                transform: translate(-50%, 0);
                top: 100%;
                left: 50%;
                width: 0;
                height: 2px;
                background-color: currentColor;
                transition: all 0.2s;
            }

            &:hover::after{
                width: 100%;
            }
        }
    }
}