@import './_common';
@import './_profile_cards';

div#view_container{
    padding-top: 0;
}

.landing.first{
    min-height: 0;
    height: calc(80vh + #{$nav-height});
    background-color: $blue-1;

    *{
        font-family: montserrat;
    }

    .title{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        text-align: center;
        font-size: 4em;
        color: $text-light;
        text-shadow: 2px 5px 10px rgba(0,0,0,0.2);

        @include below-desktop{
            font-size: 3em;
        }
    }
}
    
.members{
    display: block;
    width: 100%;
    height: auto;
    background-color: $blue-1;

    *{
        font-family: montserrat;
    }

    .ppl{
        display: flex;
        position: relative;
        width: 100%;
        height: auto;
		padding: 60px 8% 100px 8%;
		flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-radius: 100px 100px 0 0;
        background-color: $text-light;
        overflow: hidden;

        .importance {
            margin: 0 auto;
            padding: 40px 0 20px 0;
            color: $blue-2;
            font-size: 2.7em;
        }

        @include below-desktop{
            border-radius: 30px 30px 0 0;
        }
    }
}

//profile rows

.row{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}