@import './_common';

#form_container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding-top: 70px;
    padding-bottom: 70px;
    justify-content: center;
    align-items: center;
    background-color: $blue-1;
    
    @include below-special-point{
        padding-left: 0;
        padding-right: 0;
    }

    .go-back {
        position: fixed;
        top: 20px;
        left: 20px;
        background-color: white;
        color: $blue-1;
        font-size: 20px;
        font-weight: bold;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        cursor: pointer;
    }
}

#particles-js{
    position: fixed;
    top: 0;
    left: 0;
    max-height: 100%;
    pointer-events: none;
    opacity: 0.5;
    overflow: hidden
}

form{
    display: block;
    width: 100vw;
    max-width: 550px;
    padding: 40px 50px;
    background-color: $text-light;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1;
    
    @include below-special-point{
        max-width: 100vw;
        border-radius: 0;
        padding: 40px 20px;
    }

    *{
        font-family: montserrat, sans-serif;
        margin: 0;
    }

    table {
        width: 100%;
        margin-bottom: 10px;

        td {
            text-align: center;
            font-size: 1rem;
            padding-bottom: 10px;

            @include below-special-point{
                font-size: 0.9rem;
            }
        }

        .chosen {
            border-bottom: 1px solid $blue-1;
        }

        .other{
            border-bottom: 1px solid white;
            transition: border-bottom-color 0.3s;

            &:hover {
                border-bottom-color: $blue-1;
            }
        }
    }

    fieldset{
        position: relative;
        padding: 0;
        margin: 12px 0;
        border: none;

        input + .line{
            display: block;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
            width: 0px;
            height: 2px;
            background-color: $blue-1;
            transition: width 0.2s;
        }

        input:focus + .line{
            width: 100%;
        }
    }

    input{
        display: block;
        position: relative;
        width: 100%;
        height: 35px;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        background-color: $blue-3;
        transition: background-color 0.2s;

        &:focus{
            background-color: $text-light;
        }
    }

    .left {
        text-align: center;
        width: 70%;
        padding-right: 25px;
    }
    
    .right {
        text-align: center;
        width: 30%;
        padding-right: 20px;
    }

    button[type='submit']{
        display: block;
        padding: 10px 20px;
        margin: 0 auto;
        margin-top: 20px;
        border: none;
        color: $text-light;
        background-color: $blue-1;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
        transition: all 0.2s;

        &:hover{
            box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
            background-color: $blue-5;
        }
    }

    h1 {
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: 40px;
    }

    h2 {
        font-size: 0.9rem;
    }
}